<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.net>
    <webRequestModules>
      <remove prefix="http:"/>
      <add prefix="http:" type="WS_LOGIN_COMPRESSED.CompressibleHttpRequestCreator, WS_LOGIN_COMPRESSED, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </webRequestModules>
  </system.net>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UnitOperativeSoap" allowCookies="true">
                    <security mode="Transport" />
                </binding>
                <binding name="UnitOperativeSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://getposition.com/ws/unitoperative.asmx"
                binding="basicHttpBinding" bindingConfiguration="UnitOperativeSoap"
                contract="gp_view.UnitOperativeSoap" name="UnitOperativeSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
