<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     

  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WS_LOGIN_COMPRESSED_WEBREF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
  <system.net>
    <webRequestModules>
      <remove prefix="http:"/>
      <add prefix="http:" type="WS_LOGIN_COMPRESSED_WEBREF.CompressibleHttpRequestCreator, WS_LOGIN_COMPRESSED_WEBREF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </webRequestModules>
  </system.net>
   
  
    <applicationSettings>

    
        <WS_LOGIN_COMPRESSED_WEBREF.Properties.Settings>
            <setting name="WS_LOGIN_COMPRESSED_WEBREF_gp_view_UnitOperative"
                serializeAs="String">
                <value>https://getposition.com/ws/unitoperative.asmx</value>
            </setting>
        </WS_LOGIN_COMPRESSED_WEBREF.Properties.Settings>
    </applicationSettings>
</configuration>